{
  "presets": ["@babel/preset-env"],
  "env": {
    "test": {
      "presets": [
        ["@babel/env"]
      ],
      "plugins": ["rewire"],
      "sourceMaps": "inline"
    },
    "es5": {
      "presets": [
        ["@babel/env"]
      ],
      "plugins": [
      ]
    },
    "es-modules": {
      "presets": [
        ["@babel/env", {
          "modules": false
        }]
      ]
    }
  }
}